body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#map {
  height: 350px;
  margin: 20px auto;
  width: 50%;
}

#info {
  margin-top: 20px;
}

.progress-bar-container {
  width: 25%;
  margin: 10px auto;
  background-color: #ddd;
  border-radius: 20px;
}

#progress-bar {
  height: 10px;
  background: linear-gradient(to right, #a8ff78 0%, #78ffd6 100%);
  width: 0%;
  border-radius: 20px;
}